body {
	background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/upfeathers.png");
    text-align: center;
    font-family: monospace;
   
         
}

h1{
    font-family:cursive;
        
}