ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color:crimson;
}
body{
background-image: url("http://images.gofreedownload.net/2/traditional-chinese-cloud-pattern-shading-design-background-46909.jpg")
}
h1{
    text-align: center;
}
h2{
    text-align: center
}
#div3,#div4,#div5,#div6,#div7{
    background-color: white;
}

#main {
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#strike,#kick,#block,#stance{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}