ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color:crimson;
}
#img1{
    width: 600px;
}
#img2{
    width: 500px;
}
h1,h2{
    text-align: center;
}
body{
    background-image: url("http://images.gofreedownload.net/2/traditional-chinese-cloud-pattern-shading-design-background-46909.jpg")
}
#div13,#div14,#div15{
    background-color: white;
}
#main {
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#lion1,#lion2,#lion3{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}