ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color:crimson;
}


/*---------------*/




body{
    text-align: center;
    background-image:url("http://images.gofreedownload.net/2/traditional-chinese-cloud-pattern-shading-design-background-46909.jpg");
    
        
}

img{
   width: 600px; 
}


#div1{
    background-color: white;
}

#div2{
    background-color: white;
}
#img16{
    width: 350px;
}