body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9vZuLmoyMc7k0Sa0FMFAZKGd1rZIy1xzG7rkVITtK6mreQ8TK");
        
        color: black;
    text-align: center;
   
    
    font-family: sans-serif;
}