body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9vZuLmoyMc7k0Sa0FMFAZKGd1rZIy1xzG7rkVITtK6mreQ8TK");
   text-align: center;
    
    
    font-family: sans-serif;
}

h1{
    font-weight: bold;
    font-family: cursive;
    font-size: 50px;
    
}
img{
    width: 200px;
}
h4{
    text-align: left;
    font-weight: 500;
    font-family: sans-serif;
    
    
}
#div1{
   border: 2px solid black; 
}

#div2{ 
border: 1px solid black}





/* Navigation Bar*/



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgray;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: darkgray;}


.dropdown:hover .dropdown-content {
    display: block;
}
